*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /*background-color: rgb(249, 248, 241);*/
    font-family: 'Roboto', sans-serif;
}
h1{
    background-color: rgb(127, 207, 191);
    height: 4rem;
    text-align:center;
    padding-top: 1rem;

}
h3{
    margin: 10px 0 0 12px;
}
p{
    margin-left: 15px;

}
.hello{
    margin: 10px 0 0 20px;
    width: 825px;
}
.boxes{
    border-radius: 5px;
    border: solid gray 1px;
    margin-right: 10px;
}
.contenedor{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}